{% extends 'page.html.twig' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('index') }}node/diva/diva.css" />
{% endblock %}

{% block body %}
<div id="diva-wrapper"></div>
<script src="{{ url_for('index') }}node/diva/diva.js"></script>
<script src="{{ url_for('index') }}node/diva/plugins/download.js"></script>
<script src="{{ url_for('index') }}node/diva/plugins/manipulation.js"></script>
<script src="{{ url_for('index') }}node/diva/plugins/metadata.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var diva = new Diva('diva-wrapper', {
        objectData: "{{ id }}",
        plugins: [
            Diva.DownloadPlugin,
            Diva.ManipulationPlugin,
            Diva.MetadataPlugin
        ]
    });
}, false);
</script>
{% endblock %}
