{% set title = 'Canvases' %}
{% extends 'page.html.twig' %}

{% block content %}
{{ parent() }}
<nav aria-label="breadcrumb">
<ol class="list-breadcrumb">
<li><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></li><li><a href="{{ url_for('index', {'index': index}) }}">{{ label }}</a></li><li aria-current="page">{{ title }}</li>
</ol>
</nav>
<h2>Files</h2>
<ul>
{% for canvas, label in canvases %}
<li><a href="{{ url_for('canvas', {'index': index, 'canvas': canvas}) }}">{{ label }}</a></li>
{% endfor %}
</ul>
{% endblock %}
