{% extends 'page.html.twig' %}

{% block content %}
{% if manifests %}
<table class="bgsu_common_table">
<thead>
<tr>
<th>Title</th>
<th>Collection</th>
<th colspan="2">Files</th>
<th colspan="4">Viewers</th>
</tr>
</thead>
<tbody>
{% for manifest in manifests %}
<tr>
<td><a href="{{ url_for('index', {'index': manifest.index}) }}">{{ manifest.title }}</a></td>
<td>{{ manifest.collection }}</td>
<td><a href="{{ url_for('manifest', {'index': manifest.index}) }}" title="Manifest for {{ manifest.title }}">Manifest</a></td>
<td><a href="{{ url_for('canvas', {'index': manifest.index}) }}" title="Canvases for {{ manifest.title }}">Canvases</a></td>
<td><a href="{{ url_for('diva', {'index': manifest.index}) }}" title="View {{ manifest.title }} in Diva">Diva</a></td>
<td><a href="{{ url_for('mirador', {'index': manifest.index}) }}" title="View {{ manifest.title }} in Mirador">Mirador</a></td>
<td><a href="{{ url_for('tify', {'index': manifest.index}) }}" title="View {{ manifest.title }} in Tify">Tify</a></td>
<td><a href="{{ url_for('uv', {'index': manifest.index}) }}" title="View {{ manifest.title }} in Universal Viewer">Universal Viewer</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% elseif manifest %}
{{ parent() }}
<nav aria-label="breadcrumb">
<ol class="bgsu_common_list_breadcrumb">
<li><a href="{{ url_for('index') }}">{{ settings.template.site }}</a></li>{% if manifest.collection %}<li>{{ manifest.collection }}</li>{% endif %}<li aria-current="page">{{ manifest.title }}</li>
</ol>
</nav>
<h2>Files</h2>
<ul>
<li><a href="{{ url_for('manifest', {'index': manifest.index}) }}">Manifest</a></li>
<li><a href="{{ url_for('canvas', {'index': manifest.index}) }}">Canvases</a></li>
</ul>
<h2>Viewers</h2>
<ul>
<li><a href="{{ url_for('diva', {'index': manifest.index}) }}">Diva</a></li>
<li><a href="{{ url_for('mirador', {'index': manifest.index}) }}">Mirador</a></li>
<li><a href="{{ url_for('tify', {'index': manifest.index}) }}">Tify</a></li>
<li><a href="{{ url_for('uv', {'index': manifest.index}) }}">Universal Viewer</a></li>
</ul>
{% else %}
<div class="bgsu_common_alert bgsu_common_alert__failure">
No manifests are available.
</div>
{% endif %}
{% endblock %}
